In [1]:
import pandas as pd

In [3]:
and_input = [
    [0, 0, 0],
    [0, 1, 0],
    [1, 0, 0],
    [1, 1, 1]
]

In [4]:
and_df = pd.DataFrame(and_input)
and_df

   0  1  2
0  0  0  0
1  0  1  0
2  1  0  0
3  1  1  1

In [6]:
X_train = and_df.iloc[:, 0:2]
X_train

   0  1
0  0  0
1  0  1
2  1  0
3  1  1

In [7]:
y_train = and_df.iloc[:, 2]
y_train

0    0
1    0
2    0
3    1
Name: 2, dtype: int64

In [8]:
from sklearn.neighbors import KNeighborsClassifier

In [9]:
model = KNeighborsClassifier(n_neighbors = 1)

In [10]:
model.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=1, p=2,
                     weights='uniform')

In [11]:
pre = model.predict(X_train)

In [12]:
pre

array([0, 0, 0, 1], dtype=int64)

In [13]:
import sklearn.metrics as metrics

In [14]:
ac_score = metrics.accuracy_score(y_train, pre)
print("정답률 : ", ac_score)

print("정답률 : ", model.score(X_train, y_train))

정답률 :  1.0
정답률 :  1.0

In [15]:
model.predict([[1,0]])

array([0], dtype=int64)