In [13]:
import pandas as pd
from sklearn.model_selection import train_test_split
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [4]:
data = pd.read_csv('./data/ThoraricSurgery.csv', header=None)
data.head()

    0   1     2     3   4   5   6   7   8   9   10  11  12  13  14  15  16  17
0  293   1  3.80  2.80   0   0   0   0   0   0  12   0   0   0   1   0  62   0
1    1   2  2.88  2.16   1   0   0   0   1   1  14   0   0   0   1   0  60   0
2    8   2  3.19  2.50   1   0   0   0   1   0  11   0   0   1   1   0  66   1
3   14   2  3.98  3.06   2   0   0   0   1   1  14   0   0   0   1   0  80   1
4   17   2  2.21  1.88   0   0   1   0   0   0  12   0   0   0   1   0  56   0

In [5]:
data.shape

(470, 18)

In [8]:
X = data.iloc[:,:17]
y = data.iloc[:,17]

In [9]:
X.head(2)

    0   1     2     3   4   5   6   7   8   9   10  11  12  13  14  15  16
0  293   1  3.80  2.80   0   0   0   0   0   0  12   0   0   0   1   0  62
1    1   2  2.88  2.16   1   0   0   0   1   1  14   0   0   0   1   0  60

In [10]:
y.head(2)

0    0
1    0
Name: 17, dtype: int64

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=7)

In [12]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((352, 17), (118, 17), (352,), (118,))

In [16]:
model = Sequential()
model.add(Dense(32, input_dim=17, activation="relu"))
model.add(Dense(1, activation="sigmoid"))

In [19]:
model.compile(loss="binary_crossentropy",
             optimizer="adam",
             metrics=["accuracy"])

In [20]:
model.fit(X_train, y_train, epochs=30)

Epoch 1/30
11/11 [==============================] - 0s 2ms/step - loss: 2.3150 - accuracy: 0.8551
Epoch 2/30
11/11 [==============================] - 0s 1ms/step - loss: 0.6683 - accuracy: 0.7074
Epoch 3/30
11/11 [==============================] - 0s 2ms/step - loss: 0.6165 - accuracy: 0.8438
Epoch 4/30
11/11 [==============================] - 0s 2ms/step - loss: 0.5161 - accuracy: 0.8125
Epoch 5/30
11/11 [==============================] - 0s 1ms/step - loss: 0.4868 - accuracy: 0.8381
Epoch 6/30
11/11 [==============================] - 0s 2ms/step - loss: 0.4527 - accuracy: 0.8409
Epoch 7/30
11/11 [==============================] - 0s 2ms/step - loss: 0.4460 - accuracy: 0.8409
Epoch 8/30
11/11 [==============================] - 0s 2ms/step - loss: 0.4374 - accuracy: 0.8551
Epoch 9/30
11/11 [==============================] - 0s 2ms/step - loss: 0.4344 - accuracy: 0.8523
Epoch 10/30
11/11 [==============================] - 0s 4ms/step - loss: 0.4353 - accuracy: 0.8551
Epoch 11/30
11/11 [==============================] - ETA: 0s - loss: 0.4187 - accuracy: 0.84 - 0s 1ms/step - loss: 0.4299 - accuracy: 0.8494
Epoch 12/30
11/11 [==============================] - 0s 2ms/step - loss: 0.4601 - accuracy: 0.8551
Epoch 13/30
11/11 [==============================] - 0s 2ms/step - loss: 0.4379 - accuracy: 0.8551
Epoch 14/30
11/11 [==============================] - 0s 2ms/step - loss: 0.4188 - accuracy: 0.8608
Epoch 15/30
11/11 [==============================] - 0s 1ms/step - loss: 0.4335 - accuracy: 0.8523
Epoch 16/30
11/11 [==============================] - 0s 1ms/step - loss: 0.4201 - accuracy: 0.8523
Epoch 17/30
11/11 [==============================] - 0s 2ms/step - loss: 0.4123 - accuracy: 0.8551
Epoch 18/30
11/11 [==============================] - 0s 2ms/step - loss: 0.4097 - accuracy: 0.8551
Epoch 19/30
11/11 [==============================] - 0s 2ms/step - loss: 0.4097 - accuracy: 0.8551
Epoch 20/30
11/11 [==============================] - 0s 2ms/step - loss: 0.4118 - accuracy: 0.8551
Epoch 21/30
11/11 [==============================] - 0s 2ms/step - loss: 0.4149 - accuracy: 0.8580
Epoch 22/30
11/11 [==============================] - 0s 2ms/step - loss: 0.4908 - accuracy: 0.8381
Epoch 23/30
11/11 [==============================] - 0s 2ms/step - loss: 0.5342 - accuracy: 0.8523
Epoch 24/30
11/11 [==============================] - 0s 2ms/step - loss: 0.4638 - accuracy: 0.8239
Epoch 25/30
11/11 [==============================] - 0s 2ms/step - loss: 0.4120 - accuracy: 0.8551
Epoch 26/30
11/11 [==============================] - 0s 2ms/step - loss: 0.4183 - accuracy: 0.8551
Epoch 27/30
11/11 [==============================] - 0s 2ms/step - loss: 0.4195 - accuracy: 0.8466
Epoch 28/30
11/11 [==============================] - 0s 2ms/step - loss: 0.4113 - accuracy: 0.8551
Epoch 29/30
11/11 [==============================] - 0s 2ms/step - loss: 0.4043 - accuracy: 0.8551
Epoch 30/30
11/11 [==============================] - 0s 1ms/step - loss: 0.4159 - accuracy: 0.8608

In [21]:
model.evaluate(X_test, y_test, verbose=0)

[0.6572011113166809, 0.8135592937469482]